fastapi
uvicorn
python-multipart
imageio-ffmpeg
numpy==1.23.5
scipy==1.10.1
librosa==0.10.1
soundfile==0.12.1
opencv-python==4.8.1.78
numba==0.57.1
yacs
tqdm
gdown
face-alignment==1.4.1
torch
torchvision
torchaudio
imageio==2.19.3
resampy==0.3.1
pydub==0.25.1
kornia==0.6.8
scikit-image==0.19.3
av
safetensors
facexlib==0.3.0
basicsr==1.4.2
gfpgan
realesrgan
